/*index.css*/

/* ------------ */
/* --- DEMO --- */
/* ------------ */
html { background-color: white; }

body { background-color: tan; }

.regular {
	position: relative;
	padding: 100px;

	width: 30%;
	height: 500px;

	background-color: lightgray;
	display: inline-block;
}

.first {
	position: sticky;
	width: 200px;
	height: 300px;

	background-color: gray;
	border: solid black 2px;
}

.first-and-a-half {
	width: 90%;
	height: 80%;

	background-color: yellowgreen;
}

.second {
	position: absolute;
	left: 50px;
	top: 150px;

	width: 50px;
	height: 50px;

	background-color: teal;
}

.other-one {
	width: 20px;
	height: 60px;

	background-color: darkgray;
	border: solid black 2px;
}

/* ------------------ */
/* --- ORIGINATOR --- */
/* ------------------ */
#origin-container {
	visibility: hidden;

	position: absolute;
	left: 0;
	top: 0;
	
	/* Want only visible elements to have pointer events */
	pointer-events: none;
}

#origin-container * {
	pointer-events: all;
}

.origin-dot {
	position: absolute;

	height: 0.5rem;
	width: 0.5rem;

	box-sizing: border-box;

	background-color: black;
	border: solid white 0.1rem;
	border-radius: 50%;
}

.origin-top-left {
	left: -0.25rem; top: -0.25rem;
}

.origin-bottom-right {
	right: -0.25rem; bottom: -0.25rem;
}

.label {
	position: absolute;
	left: 0;
	top: -1.2rem;

	z-index: 100;

	background-color: lightgrey;
	border: solid black 1px;
	padding: 0 0.2rem;
}

