/*index.css*/

/* ------------ */
/* --- DEMO --- */
/* ------------ */
html { background-color: white; }

body { background-color: tan; }

.regular {
	position: relative;
	padding: 100px;

	width: 30%;
	height: 500px;

	background-color: lightgray;
	display: inline-block;
}

.first {
	position: sticky;
	width: 200px;
	height: 300px;

	background-color: gray;
	border: solid black 20px;
}

.second-first {

	background-color: coral;
	border: solid black 2px;
}

.first-and-a-half {
	width: 90%;
	height: 80%;

	background-color: yellowgreen;

	position: relative;
}

.second {
	position: absolute;
	left: 50px;
	top: 150px;

	width: 50px;
	height: 50px;

	background-color: teal;
}

.other-one {
	width: 20px;
	height: 60px;

	background-color: darkgray;
	border: solid black 2px;
}

/* ------------------ */
/* --- ORIGINATOR --- */
/* ------------------ */
/*.label {
	position: absolute;
	left: 0;
	top: -1.2rem;

	z-index: 100;

	background-color: lightgrey;
	border: solid black 1px;
	padding: 0 0.2rem;

	box-shadow: -.25px -.25px .25px .25px rgba(0, 0, 0, .8);
}*/



