/*tools-manager.css

Attempts at Resources:
	http://stackoverflow.com/questions/9815328/vertically-aligning-a-checkbox
	http://jsfiddle.net/cC9Cs/2/
	http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953
	http://www.css3.com/implementing-custom-checkboxes-and-radio-buttons-with-css3/
*/

/* =================== */
/* MANAGER */
/* =================== */

/* --- STRUCTURE --- */
#bookmarklet_collection_manager {
	position: absolute;
	top: 9px;
	right: 9px;
}

#bookmarklet_collection_manager h1 {
	margin: 0;
	padding: 0 4px;
}

#bookmarklet_collection_manager menu {
	padding: 2px 4px;
	margin: 0;
}

#bookmarklet_collection_manager li {
	list-style: none;
	margin: 2px 0;
	position:relative;
}

/* Make my own checkbox, a fontawesome one */
#bookmarklet_collection_manager input[type=checkbox] {
	opacity: 0;

	position: relative;
	margin: 0;
}

#bookmarklet_collection_manager .checkbox-visual {
	position: absolute;
	left: 0;
	/* Only looks good in 100% zoom :/ */
	top: 50%;
	transform: translate( 0, -50%);
}

#bookmarklet_collection_manager label {
	margin: 0;
	display: inline-block;

	vertical-align: middle;
	/* Because there are no linebreaks or space when using js */
	margin-left: 6px;
}


/* --- FUNCTION --- */
#bookmarklet_collection_manager .checkbox-visual {
	/* So that actul checkbox can get clicked on */
	pointer-events: none;
}


/* --- SKIN ---*/
#bookmarklet_collection_manager {
	background-color: rgb( 240, 240, 240 );
	color: rgb(80, 80, 80);
	border: solid rgb( 200, 200, 200 ) 2px;
}

#bookmarklet_collection_manager h1 {
	font-size: 19px;
	font-variant: small-caps;

	background-color: rgb( 225, 225, 225 );
	border-bottom: solid rgb( 200, 200, 200 ) 2px;
}
